<button mat-icon-button (click)="navigate()">
    <mat-icon>home</mat-icon>
</button>
<h3>Select your type relation for configure with the schema:{{ schemaname}}</h3>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <button type="button" (click)="browseonetoone()" mat-raised-button color="primary">One to one</button>
    <button type="button" (click)="browseonetomany()" mat-raised-button color="primary">One to Many/Many to One</button>
    <button type="button" (click)="browsemanytomany()" mat-raised-button color="primary">Many to Many</button>
</div>
<app-viewschemas [id]="id"></app-viewschemas>