<div>
  <button (click)="add()" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="addmanytone()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>
<h3>Schema:{{ schemaname}}</h3>
<table mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="head" mat-sort-header *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell class="head" mat-sort-header *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let row"> {{row.type}} </td>
  </ng-container>
  <ng-container matColumnDef="tablename">
    <th mat-header-cell class="head" mat-sort-header *matHeaderCellDef>( Table </th>
    <td mat-cell *matCellDef="let row"><span style="padding-left: 20px;"></span>{{row.tablename}}</td>
  </ng-container>
  <ng-container matColumnDef="field">
    <th mat-header-cell class="head" mat-sort-header *matHeaderCellDef> Field  )</th>
    <td mat-cell *matCellDef="let row"><span style="padding-left: 20px;"></span>{{row.field}} </td>
  </ng-container>
  <ng-container matColumnDef="fieldr">
    <th mat-header-cell class="head" mat-sort-header *matHeaderCellDef> Field Relation </th>
    <td mat-cell *matCellDef="let row"><span style="padding-left: 20px;"></span>{{row.fieldr}} </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell class="head" *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let row"><button (click)="delete(row.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button></td>
  </ng-container>
  <ng-container matColumnDef="onetomany">
    <th mat-header-cell class="head" *matHeaderCellDef> One to many </th>
    <td mat-cell *matCellDef="let row"><button (click)="onetomany(row.id)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['id','type','tablename','field','fieldr','delete','onetomany']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id','type','tablename','field','fieldr','delete','onetomany'];"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>