.title{
    text-align: center;
    background-color: #3F51B5;
    color: whitesmoke;
    font-size: medium;
}

.terminal{
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
}

.componentWraper {
    margin: 40px; /* just for contrast */
    position: relative;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
    padding: 20px;
  }
  
  .componentWraper .componentTitle {
    position: absolute;
    top: -25px;
    background: #fff;
    padding: 0 10px;
  }