<mat-expansion-panel>
    <mat-expansion-panel-header>
      file security
    </mat-expansion-panel-header>
<div style="height: 500px">
    <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="file"></ngx-monaco-editor>
</div>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      login service
    </mat-expansion-panel-header>
<div style="height: 500px">
    <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="filelogin"></ngx-monaco-editor>
</div>
</mat-expansion-panel>