<p mat-dialog-title>Generate options</p>
<mat-accordion #matacordion="matAccordion">
    <button mat-icon-button (click)="goToLink()">
        <mat-icon>help</mat-icon>
    </button>
    <mat-expansion-panel #matExpansionPanelSelect>
        <mat-expansion-panel-header>
            <P>Select</P>
        </mat-expansion-panel-header>
        <form [formGroup]="profileForm" (ngSubmit)="genselect()">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-select placeholder="Field" formControlName="field">
                    <mat-option *ngFor="let item of fields" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <button mat-icon-button matTooltip="Add field" (click)="addfield()" type="button">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Remove field" (click)="removefield()" type="button">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Text select" formControlName="textselect"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" mat-button
                [disabled]="!profileForm.valid">Ready</button>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel #matExpansionPanelWhere>
        <mat-expansion-panel-header>
            Where
        </mat-expansion-panel-header>
        <form [formGroup]="profileFormWhere" (ngSubmit)="genWhere()">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-select placeholder="Insert field" (selectionChange)="insertfield($event)" formControlName="field">
                    <mat-option *ngFor="let item of fields" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Operator" (selectionChange)="selectoperator($event)"
                    formControlName="operator">
                    <mat-option *ngFor="let item of operators" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
                <ng-container
                    *ngIf="this.profileFormWhere.get('operator').value==='value'; then thenTemplate; else elseTemplate">
                </ng-container>
                <ng-template #thenTemplate>
                    <div class='componentWraper'>
                        <p class='componentTitle'>Value</p>
                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                            <mat-form-field>
                                <input matInput formControlName="value" placeholder="Value">
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
                <ng-template #elseTemplate>
                    <div class='componentWraper'>
                        <p class='componentTitle'>Parameters or value</p>
                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                            <mat-checkbox style="padding-top: 20px;" labelPosition="before"
                                *ngIf="ifnot(this.profileFormWhere.get('operator').value)" formControlName="not">
                                Not
                            </mat-checkbox>
                            <mat-form-field style="padding-left: 10px;">
                                <input matInput formControlName="value" placeholder="Value">
                            </mat-form-field>
                            <button mat-icon-button matTooltip="Add array values" type="button"
                                *ngIf="this.profileFormWhere.get('operator').value==='in' || this.profileFormWhere.get('operator').value==='any'"
                                (click)="addarray()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Add parameter"
                                (click)="addparameter(this.profileFormWhere.get('field').value)" type="button">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
                <div *ngIf="this.profileFormWhere.get('operator').value==='between'" class='componentWraper'>
                    <p class='componentTitle'>Parameters or value</p>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                        <mat-form-field *ngIf="this.profileFormWhere.get('operator').value==='between'">
                            <input matInput formControlName="value2" placeholder="Value">
                        </mat-form-field>
                        <button mat-icon-button *ngIf="this.profileFormWhere.get('operator').value==='between'"
                            matTooltip="Add parameter"
                            (click)="addparametervalue2(this.profileFormWhere.get('field').value)" type="button">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <button mat-icon-button matTooltip="Add field where condition" (click)="addfieldwhere()" type="button">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Add field where condition" (click)="removefieldwhere()"
                    type="button">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Text select" formControlName="textselect"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" mat-button
                [disabled]="!profileFormWhere.valid">Ready</button>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel #matExpansionPanelOrder>
        <mat-expansion-panel-header>
            Order
        </mat-expansion-panel-header>
        <form [formGroup]="profileFormOrder" (ngSubmit)="genOrder()">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-select placeholder="Field" formControlName="field">
                    <mat-option *ngFor="let item of fields" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Order" formControlName="order">
                    <mat-option value="ASC">
                        ASC
                    </mat-option>
                    <mat-option value="DESC">
                        DESC
                    </mat-option>
                </mat-select>
                <button mat-icon-button (click)="addfieldorder()" type="button">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Text select" formControlName="textselect"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" mat-button
                [disabled]="!profileFormOrder.valid">Ready</button>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Relation
        </mat-expansion-panel-header>
        <form [formGroup]="profileFormRelation" (ngSubmit)="genRelation()">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-select placeholder="Select relation" formControlName="relationname" name="item">
                    <mat-option *ngFor="let item of relationsarray" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
                <button mat-icon-button [disabled]="this.profileFormRelation.get('relationname').value===''"
                    (click)="addrelation()" type="button">
                    <mat-icon>add</mat-icon>
                </button>
                <button [disabled]="this.relationsselected.length===0" mat-icon-button matTooltip="Delete relation"
                    (click)="removerelation()" type="button">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <mat-form-field>
                <input matInput placeholder="selected" formControlName="textselect">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" mat-button
                [disabled]="!profileFormRelation.valid">Ready</button>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Skip Limit
        </mat-expansion-panel-header>
        <form [formGroup]="profileFormskiplimit" (ngSubmit)="genskiplimit()">
            <mat-form-field>
                <input matInput placeholder="Skip" formControlName="skip">
            </mat-form-field>
            <button mat-icon-button matTooltip="Add parameter" (click)="addparameterskip()" type="button">
                <mat-icon>add</mat-icon>
            </button>
            <mat-form-field>
                <input matInput placeholder="Limit" formControlName="limit">
            </mat-form-field>
            <button mat-icon-button matTooltip="Add parameter" (click)="addparameterlimit()" type="button">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button type="submit" color="primary" mat-button
                [disabled]="!profileFormskiplimit.valid">Ready</button>
        </form>
    </mat-expansion-panel>
</mat-accordion>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="primary" mat-button (click)="onYesClick()">Close and copy</button>
</div>