<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <p>End process</p>
    <p>if your create a sample data after ending goto config open database config and configure Mysql driver not forget create your database in Mysql projectcostumers is default name</p>
    <p>create a terminal in cd {{data.directory}} and run npm run start:debug</p>
    <p>When server is up this listening for changes,run in the menu go to generator and generate.</p>
    <p>Ready test the API on the program</p>
    <img src="assets/icons/win/icon.ico" alt="">
    <button mat-raised-button color="primary" mat-button (click)="onYesClick()">OK</button>
</div>