<mat-progress-bar *ngIf="progressbar" mode="indeterminate"></mat-progress-bar>
<div class="">
    <mat-form-field style="width: 100%;">
        <textarea matInput rows="20" style="width:100%;"
        readonly="true" matInput  placeholder="" [(ngModel)]="generatingline"></textarea>
    </mat-form-field>
</div>
<p>Destination Path: {{filePath}}</p>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <button id="button" color="primary" mat-raised-button (click)="generate($event)">Start Generating</button>
</div>
<mat-form-field style="width: 100%;">
    <textarea matInput cdkTextareaAutosize cols="" style="width: 100%;"
    #autosize="cdkTextareaAutosize" readonly="true" matInput  placeholder="" [(ngModel)]="filegenerating"></textarea>
</mat-form-field>

