<mat-progress-bar *ngIf="progressbar" mode="indeterminate"></mat-progress-bar>
<div>
    <p>Actions</p>
   <textarea style="background-color: black; color:whitesmoke;width: 100%;" matInput #textgenerating rows="15" 
        readonly="true" placeholder="" ></textarea>
</div>
<p>Files writed</p>
<textarea style="background-color: black; color:whitesmoke;width: 100%;" matInput #fileswriting rows="6" 
        readonly="true" placeholder="" ></textarea>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <button id="button" color="primary" mat-raised-button (click)="generate($event)"><mat-icon>build</mat-icon>Start Generating</button>
</div>
