<mat-progress-bar *ngIf="progressbar" mode="indeterminate"></mat-progress-bar>
<div class="">
    <mat-form-field style="width: 100%;">
        <textarea  matInput #textgenerating rows="20" 
        readonly="true" placeholder="" [(ngModel)]="generatingline"></textarea>
    </mat-form-field>
</div>
<p>Destination Path: {{filePath}}</p>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <button id="button" color="primary" mat-raised-button (click)="generate($event)"><mat-icon >build</mat-icon>Start Generating</button>
</div>
<div style="height: 500px">
    <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="filegenerating"></ngx-monaco-editor>
</div>

