<p>Relation many to one</p>
<form formGroup="profileForm">
    <mat-form-field>
        <mat-select (selectionChange)="changeschema()" placeholder="Schema" formControlName="selectedSchema" >
            <mat-option *ngFor="let item of vector" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>Relation one to many</p>
    <mat-form-field>
        <mat-select (selectionChange)="changerelation()" placeholder="Relations one to many"
            formControlName="selectedRelation" >
            <mat-option *ngFor="let item of relations" [value]="item.id">
                {{item.fieldr}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="class" formControlName="fieldc">
    </mat-form-field>
</form>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>No</button>
    <button mat-raised-button color="primary" mat-button (click)="onYesClick()">Yes</button>
</div>