<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Schema</h1>
<form [formGroup]="Userdata" (ngSubmit)="onYesClick()">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="name">
      <mat-error *ngIf="Userdata.get('name').invalid">Error invalid name use string like Costumers</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input matInput formControlName="description" placeholder="description">
    </mat-form-field>
  </div>
  <mat-checkbox formControlName="filesupload">Files upload</mat-checkbox>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      extra options
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <mat-form-field style="width: 100%;">
        <textarea matInput formControlName="imports" placeholder="imports includes"></textarea>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <textarea matInput formControlName="index" placeholder="indexes"></textarea>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <textarea matInput formControlName="fields" placeholder="extra fields"></textarea>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Security
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-checkbox formControlName="security">Enable security</mat-checkbox>
        <mat-checkbox style="padding-left: 10px;" formControlName="mastersecurity">Is master security</mat-checkbox>
      </div>
    </div>
  </mat-expansion-panel>
  <div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button type="button" (click)="onNoClick()" cdkFocusInitial>No</button>
    <button mat-raised-button type="submit" color="primary" mat-button [disabled]="!Userdata.valid">Yes</button>
  </div>
</form>
