<h4 mat-dialog-title></h4>
  <div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name" placeholder="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.description" placeholder="description">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput  [(ngModel)]="data.imports" placeholder="imports includes"></textarea>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput  [(ngModel)]="data.fields" placeholder="extra fields"></textarea>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
  </div>
<div mat-dialog-actions style = "justify-content: flex-end;">
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>No</button>
    <button mat-raised-button color="primary" mat-button (click)="onYesClick()" >Yes</button>
</div>
