<h4 mat-dialog-title style="text-align: center;">Fast project</h4>
<mat-progress-bar *ngIf="progressbar" mode="indeterminate"></mat-progress-bar>
<p *ngIf="progressbar">Action:{{action}}</p>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <p>Work directory:{{filePath}}</p>
    <span style="padding-left: 10px;"></span>
    <button matTooltip="select work directory" mat-raised-button color="primary"   (click)="browse()">
        <mat-icon>folder</mat-icon>
    </button>
</div>
<form [formGroup]="Fastproject">
    <section class="example-section">
        <label class="example-margin">Package:</label>
        <mat-radio-group formControlName="package">
            <mat-radio-button class="example-margin" value="npm">NPM</mat-radio-button>
        </mat-radio-group>
    </section>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-checkbox formControlName="installnestjs">Install Nest js</mat-checkbox>
        <mat-form-field>
            <input matInput placeholder="Project name" formControlName="projectname">
        </mat-form-field>
        <mat-checkbox formControlName="loadsampleproject">Create sample data</mat-checkbox>
        <mat-form-field class="textarea-mat-field w-100" appearance="fill">
            <mat-label>Console output</mat-label>
            <textarea rows="15" formControlName="textarea" matInput></textarea>
          </mat-form-field>
        </div>
</form>
<p>if your create a sample data after ending goto config open database config and configure Mysql driver not forget create your database in Mysql (projectcostumers) is default name</p>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button [disabled]="disable" cdkFocusInitial (click)="onNoClick()">No</button>
    <button mat-raised-button [disabled]="disable || !Fastproject.valid" color="warn" (click)="onYesClick()">Yes</button>
</div>