.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.textarea-mat-field {
  background-color: black;
  color: whitesmoke;
}


.w-100 {
  width: 100% !important;
}
