<h4 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Controller</h4>
<form [formGroup]="profileForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </form>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>No</button>
    <button mat-raised-button color="primary" [disabled]="!profileForm.valid" mat-button (click)="onYesClick()">Yes</button>
  </div>
